---
Checks: "*,
  -abseil-*,
  -altera-*,
  -android-*,
  -fuchsia-*,
  -google-*,
  -llvm*,
  -zircon-*
  -bugprone-easily-swappable-parameters,
  -cppcoreguidelines-pro-type-union-access,
  -cppcoreguidelines-avoid-magic-numbers,
  -cppcoreguidelines-pro-bounds-constant-array-index,
  -readability-magic-numbers,
  -boost-use-ranges"
WarningsAsErrors: ""
HeaderFilterRegex: ""
FormatStyle: none

CheckOptions:
  - key: readability-identifier-length.IgnoredVariableNames
    value: "x|y|z|u|v|it"
  - key: readability-identifier-length.IgnoredParameterNames
    value: "x|y|z|u|v"
  - key: readability-function-cognitive-complexity.Threshold
    value: 10
